# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*


ionic/npm-debug.log
ionic/.idea
.idea/
.sass-cache/
.tmp/
.versions/
.svn
coverage/
dist/
ionic/node_modules/
tmp/
temp/
hooks/
platforms/
plugins/
plugins/android.json
plugins/ios.json
www/
$RECYCLE.BIN/
DisplayObjects/mobile/*
DisplayObjects/platforms/*
_private

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate